body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    /* max-width: 800px; */
}

main {
    grid-template-columns: 1fr;
}

.card {
    max-width: 450px;
    border: 2px;
}

img {
    width:auto;
    object-fit:contain;
}
