* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {    
    --clr-light1: #ffffff;    
    /* --clr-light2: #DEFFF2;     */
    --clr-light2: #c2cfcc;
    --clr-light4: #c2cfcc4c;    
    --clr-light3: #ededed;
    --clr-dark1: #000009;
    --clr-dark2: #0b2a31;  
    --clr-dark3: rgb(45, 45, 139);  
    --clr-accent1: #fe039e;
    /* --clr-accent2: #0ff4c6; */
    --clr-accent2: #31afa6;
    --clr-accent2-light: #31afa77c;
    --clr-accent3: #0814f9;  
    --clr-medium1: #A3802C;
    --clr-medium2: #d3ad80;
    --clr-logo: #c7067d;
    --clr-logo2:#ffc8ea;
    
    --clr-anchor: var(--clr-accent3);
    --clr-header: var(--clr-accent2);
    --clr-paragraph: var(--clr-dark2);
    --clr-headings: var(--clr-logo);
    --clr-headings2: var(--clr-dark3);
    --clr-foreground: var(--clr-light1);
    --clr-background: var(--clr-dark1);

    --font-heading1: "Permanent Marker", cursive;
    --font-heading2: "Pangolin", cursive;
    --font-heading3: "Roboto", sans-serif;
    --font-paragraph: "Roboto", sans-serif;
}

/* .dark-mode {
    --clr-anchor: var(--clr-light2);    
    --clr-paragraph: var(--clr-dark2);
    --clr-headings: var(--clr-logo2);
    --clr-foreground: var(--clr-dark1);
    --clr-background: var(--clr-light1);
} */

body {
    font-family: var(--font-paragraph);
    margin: 0 auto;    
    font-size: 0.8rem;
    width: 100%;    
    background-color: var(--clr-foreground);    
}

h1 {
    color: var(--clr-headings);
    font-family: var(--font-heading1);
}

h2,
h3 {
    color: var(--clr-headings2);
    font-family: var(--font-heading2);
}


h4,
h5,
h6, 
p {
    color: var(--clr-paragraph);
}


a {
    color: var(--clr-anchor);
    text-decoration: none;
}

a:hover {
    color: var(--clr-accent2);
}
/* 
img {
    width: 100%;
} */
.flex {
    display: flex;
    flex-direction: column;
}

.grid-grow,
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    /* border: 2px solid purple; */
}

.grid-grow {
    /* border: 2px dotted green; */
    margin: 0 auto;
    width: 100%;
}



/* -------------Header---------------------------------------- */
header {
    background: linear-gradient(var(--clr-accent2), var(--clr-light2));    
    width: 100%;
}

#weather-banner {
    background-color: var(--clr-light2);
    color: black;
    /* width: 65%; */
    text-align: right;
    /* padding-right: 2rem; */
    padding: .5rem 2rem;
}

#banner-btn::before {
	content: "✖"; 
    
}

#banner-btn {    
    background: none;
    /* border: none; */
    float: right;
    margin: 0 2rem;
}

.hide {
    visibility: hidden;
}

header img {
    width: 15rem;
    height: auto;
}

#weather-banner p {
    /* color: var(--clr-logo); */
    font-family: var(--font-heading1)
}

.navigation {
    border-bottom: .5rem solid var(--clr-medium1); 
}

.navigation ul {
    list-style: none;
    display: flex;
    padding: .5rem;
    flex-direction: column;
}

.navigation ul li {
    flex: 1 1 100%;
}

.navigation a {
    display: none;
    padding: .5rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--clr-dark2);
    text-align: center;    
}

.navigation a:hover {
    background-color: var(--clr-light3);
    /* color: var(--clr-dark2); */
    font-weight: 700;
}

.active {
    padding: 10px;
    border: 2px solid var(--clr-medium1);
}

/* small view navigation */
#small-menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: var(--background);
	color: var(--foreground);
 	position: absolute;
	top: 0.5rem;
	right: 0;
    z-index: 1;
}

#small-menu::before {
	content: "☰";
}

#small-menu.open::before {
	content: "✖";
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
    font-size: medium;

}

.cta {
    padding: .5rem 2rem;
    border: 2px solid var(--clr-dark2);
    border-radius: 10px;
    background-color: var(--clr-accent2);
    font-weight: 600;
}

/* ---------------Home---------------------- */

.card p {
    padding: .7rem;
}
.pair h2 {
    padding: .7rem;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.hero h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20px;
    /* font-size: rem; */
    text-shadow: 2px 2px var(--clr-dark2);
}

.hero button {
    position: absolute;
    top: 90px;
    right: 10px;
    z-index: 10;

}

.summary img {
    max-width: 90%;
    height: auto;
    margin-left: 3rem;
    
}

.card img {
    border-radius: 10px;
}

.tinted {
    background-color: var(--clr-light4);
    border-radius: 10px;
}

.weather {
    background: linear-gradient(var(--clr-light4), var(--clr-accent2-light));    
    width: 100%;
    margin: auto;
    border-radius: 5px;
    padding: 1rem;
}

.weather .flex {
    justify-content: space-around;
}

.weather div {
    padding: 1rem;
}

.weather-card {
    /* border: 1px solid black; */
    font-size: large;
}

.weather-card:nth-child(2) {
    padding-top: .5rem;
    margin-top: 1rem;
}

/* ---------------Rental------------------- */

.main-contain-container div {
    border: solid blueviolet;
}

.main-rental-container h2,
.main-rental-container p,
.main-rental-container h3 {
    text-align: center;
}

p.title {
    padding-bottom: 2rem;
}

.rent-card {
    aspect-ratio : 1/.75;
    display: grid;    
}

.rent-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio : 1 /.7
}

.img-desc {    
    align-self : end;
    text-align: center;
    background-color: var(--clr-dark2);    
    min-height: 6.5rem;
    /box-shadow: 0 .25rem 1rem rgba(0 0 0 /.1);    
}

.img-desc h3,
.img-desc p {
    color: var(--clr-light1);
}

.services-container {
    background-color: var(--clr-light3);
    margin: 3rem auto;
    border: 2px solid var(--clr-medium1);
    padding: 1rem;
}

.services-container li {
    list-style-position: inside;
    /* list-style-type: circle; */
}

#rental-table {
    background-color: var(--clr-light2);
    margin: auto;
}

caption {
    background-color: black;
    color: white;
    padding: 1rem;
}

th {
    text-wrap: wrap;
    padding: .5rem .4rem;
}
td {
    padding: .5rem .7rem;
    text-align: center;
}

td:nth-child(2) {
    column-width: 10ch;
}

tr:nth-of-type(2n){
    background-color: var(--clr-light3);
}

.table-container {        
    overflow-x: scroll;    
    margin: auto;
}



/* -------------Reservation---------------- */

.reservation-hero h1 {
    top: 0px;
    text-align: left;
    left: 1rem;
    padding: 0;
    margin: 0;
}

.reservation-hero h2 {
    text-align: center;
    padding: 1rem;
}

.reserve-pair h3 {
    text-align: center;
}

#veh-quantity1,
#veh-quantity2,
#veh-quantity3,
#veh-quantity4,
#veh-quantity5,
#veh-quantity6 {
    width: 5ch;
    text-align: right;
    padding: 0;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: var(--clr-accent3);
    margin: 0 1rem;
    padding: 0 .5rem;
}

.reserve-grid {
    position: relative;      
}

.reserve-grid > * {
    padding: 1.1rem;
}

.reserve-grid .card:nth-child(2) {
    position: sticky;
    align-self: start;
    top:0;
    left: 0;
}

.reserve-pair p {
    padding: 1rem;
}

.submitBtn {
    border: none;
    background-color: var(--clr-accent1);
    color: white;
    font-weight: 600;
    font-size: larger;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
/* --------------Contact------------------- */

/* .contact-container {
    display: block;
}

.form-contact {
    display: block;
} */

.main-contain-container {
    position: relative;
}

.location-container {
    /* text-align: center; */
    margin: 0 auto;
    
}

.contact-container h2,
.location-container h2 
/* .main-contain-container h2  */
{
    text-align: center;
}

.contact-container {
    margin: 0 auto;
    position: sticky;
}

.form-contact label {
    display: block;
}

.required {
    text-align: right;
    font-size: .7rem;    
}

.top input, textarea {
    display: block;
    padding: 1rem;
    width: 100%;
    max-width: 500px;
    /* border: solid 1px #999; */
    border-radius: 5px;
    color: #1e1d1d;
}

.map {    
    width: auto;    
    padding: 0;
}
.map iframe {
    border-radius: 5px;
    width: 100%;
    height: 300px;
}


/* ----------Thank You_____________________ */
.thanks h1 {
    text-align: center;
    padding: 2rem;
}

.thanks p {
    width: 80%;
    margin: 1rem auto;
}
.thanks span {
    font-weight: 700;
}
/* ---------------Footer------------------- */

footer {
    flex: 1 1 auto;
    border-top: 2px solid var(--clr-medium1);
    text-align: center;
    justify-content: space-between;
}


footer > * {
    padding: 2rem;
}

.footer-nav a {
    color: var(--clr-paragraph);    
}

.footer-nav li {
    list-style: none;
}

.footer-location > * {
    padding: .5rem;
}

.footer-address div {
    padding: .5rem;
}

.social {        
    flex-direction: row;
    justify-content: center;
}

.social img {
    width: 30px;
    height: 30px;       
}


