* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {    
    --clr-light1: #ffffff;    
    /* --clr-light2: #DEFFF2;     */
    --clr-light2: #c2cfcc;    
    --clr-light3: #ededed;
    --clr-dark1: #000009;
    --clr-dark2: #0b2a31;    
    --clr-accent1: #fe039e;
    /* --clr-accent2: #0ff4c6; */
    --clr-accent2: #31afa6;
    --clr-accent3: #0814f9;  
    --clr-medium1: #A3802C;
    --clr-medium2: #d3ad80;
    --clr-logo: #c7067d;
    --clr-logo2:#ffc8ea;
    
    --clr-anchor: var(--clr-accent3);
    --clr-header: var(--clr-accent2);
    --clr-paragraph: var(--clr-dark2);
    --clr-headings: var(--clr-logo);
    --clr-foreground: var(--clr-light1);
    --clr-background: var(--clr-dark1);

    --font-heading1: "Permanent Marker", cursive;
    --font-heading2: "Pangolin", cursive;
    --font-heading3: "Roboto", sans-serif;
    --font-paragraph: "Roboto", sans-serif;
}

/* .dark-mode {
    --clr-anchor: var(--clr-light2);    
    --clr-paragraph: var(--clr-dark2);
    --clr-headings: var(--clr-logo2);
    --clr-foreground: var(--clr-dark1);
    --clr-background: var(--clr-light1);
} */

body {
    font-family: var(--font-paragraph);
    margin: 0 auto;    
    font-size: 0.8rem;
    width: 100%;    
    background-color: var(--clr-foreground);
    grid-template-areas: 
}


h1 {
    color: var(--clr-headings);
    font-family: var(--font-heading1);
}


h2,
h3 {
    color: var(--clr-headings);
    font-family: var(--font-heading2);
}


h4,
h5,
h6, 
p {
    color: var(--clr-paragraph);
}

a {
    color: var(--clr-anchor);
    text-decoration: none;
}

a:hover {
    color: var(--clr-accent2);
}

.flex {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}

/* -------------Header---------------------------------------- */
header {
    background: linear-gradient(var(--clr-accent2), var(--clr-light2));    
    width: 100%;
}

#weather-banner {
    background-color: var(--clr-accent2);
    /* width: 65%; */
    text-align: right;
    /* padding-right: 2rem; */
    padding: .5rem 2rem;
}

#banner-btn::before {
	content: "✖"; 
    
}

#banner-btn {    
    background: none;
    /* border: none; */
    float: right;
    margin: 0 2rem;
}

.hide {
    visibility: hidden;
}

header img {
    width: 15rem;
    height: auto;
}

#weather-banner p {
    /* color: var(--clr-logo); */
    font-family: var(--font-heading1)
}

.navigation {
    border-bottom: .5rem solid var(--clr-medium1); 
}

.navigation ul {
    list-style: none;
    display: flex;
    padding: .5rem;
    flex-direction: column;
}

.navigation ul li {
    flex: 1 1 100%;
}

.navigation a {
    display: none;
    padding: .5rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--clr-dark2);
    text-align: center;    
}

.navigation a:hover {
    background-color: var(--clr-light3);
    /* color: var(--clr-dark2); */
    font-weight: 700;
}

.active {
    padding: 10px;
    border: 2px solid var(--clr-medium1);
}

/* ---------------Home---------------------- */
.grid.home-main {
    grid-gap: 1rem;

}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* ---------------Rental------------------- */

/* -------------Reservation---------------- */

/* --------------Contact------------------- */

/* ---------------Footer------------------- */

footer {
    flex: 1 1 auto;
    border-top: 2px solid var(--clr-medium1);
    text-align: center;
    justify-content: space-between;
}


footer > * {
    padding: 2rem;
}
.footer-nav a {
    color: var(--clr-paragraph);    
}

.footer-nav li {
    list-style: none;
}

.footer-location > * {
    padding: .5rem;
}

.footer-address div {
    padding: .5rem;
}

.social {        
    flex-direction: row;
    justify-content: center;
}

.social img {
    width: 30px;
    height: 30px;       
}

