@media screen and (min-width: 900px) { 

    .grid-grow {        
        margin: 0 auto;
        width: 95%;
        
    }

    
    main {
        width: 90%;
        margin: 0 auto;
    }

    /* -----------Home__________________ */
    .hero img {
       max-width: 1268;
       max-height: 675; 
    }

    .hero h1 {
        font-size: 4rem;
        /* outline: 2px solid black; */
        /* text-shadow: 2px 2px var(--clr-accent3); */
    }

    .hero button {
        top: 170px;
    }
    
    .weather {
        width: 70%;
    }

    /* -----------Rental----------------- */
    .table-container {
        width: 80%;
    }

    /* ----------Reservations------------ */

    .reserve-grid {
        width: 95%;
    }

    /* ----------Contact----------------- */

    .required {
        text-align: center;
    }
}