@media screen and (min-width: 900px) { 

    .grid-grow {        
        margin: 0 auto;
        width: 80%;
        
    }

    
    main {
        width: 80%;
        margin: 0 auto;
    }

    /* -----------Home__________________ */
    .hero img {
       width: 1268;
       height: 675; 
    }

    /* -----------Rental----------------- */
    .table-container {
        width: 80%;
    }

}