@media screen and (min-width: 900px) { 

    .grid-grow {        
        margin: 0 auto;
        width: 95%;
        
    }

    
    main {
        width: 90%;
        margin: 0 auto;
    }

    /* -----------Home__________________ */
    
    .hero h1 {
        font-size: 4rem;      
    }

    .cta {
        top: 170px;
    }
    
    .weather {
        width: 70%;
    }

    /* -----------Rental----------------- */
    .table-container {
        width: 80%;
    }

    /* ----------Reservations------------ */

    .reserve-grid {
        width: 95%;
    }

    /* ----------Contact----------------- */

    .required {
        text-align: center;
    }
}