@media screen and (min-width: 650px) {

    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    .flex {
        flex-direction: row;        
    }

    .grid-grow {
        grid-template-columns: 1fr 1fr;
    }

    .cta {
        padding: .5rem 3rem;
        
    }

    #small-menu {
        display: block;
        display: none;
    }

    .navigation ul {
        flex-direction: row;
    }

    .navigation ul li {
        display: block;
    }

    .navigation a {
        display: block;        
    }

    /* ---------------Home---------------------- */
    .hero img {
        width: 1089;
        height: 590;
    }

    .hero button {
        top: 100px;
    }

    .weather {
        width: 80%;
    }

    /* ---------------Rental------------------- */

    th {
        /* text-wrap: wrap; */
        padding: .5rem 1rem;
    }
    td {
        padding: .5rem 1rem;
    }
    
    .table-container {
        max-width: 90%;
        /* overflow-x: scroll; */
    }
    
    /* -------------Reservation---------------- */

    .reserve-grid .card:nth-child(2) p {
        padding: 1.5rem;
    }
    

        /* --------------Contact------------------- */

    /* ----------Thank You_____________________ */
    .thanks p {
        width: 50%;
        margin: 1.5rem auto;
    }

    /* ---------------Footer------------------- */
    
    footer {
        text-align: left;
    }

    .footer-info {
        text-align: right;
    }

    .social {
        justify-content: right;
    }

}
