* {
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: border-box;    
}

:root {
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: #3F6634;
    color: white;
    text-align: center;
    
}

header h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 2.5em;
    color: white;
}

header h2 {
    color: white;
}

h1, h2 {
    color: #3F6634;
    padding: 1rem;
}
article {
    font-family: 'Merriweather', serif;
}

.colors img {
    width: 200px;
}

.wireframe img {
    width: 200px;
}