
* {
    box-sizing: border-box;
}

:root {
    /* colors */    
    --royal: #03256C;
    --royal2: #98E2e2;
    --sky: #bac2c2;
    --robin: #44CFCB;
    --robin2: #90f6f3;
    --green: #34542b;
    --yellow: #EDAE49;
    --brown: #452103;
    

    /* fonts */
    --heading1-font: 'Lobster', sans-serif;
    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Poppins', sans-serif;
    
}

body {
    font-family: var(--paragraph-font);
    margin: 0 auto;    
    font-size: 1rem;
    width: 100%;
    Display: block;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h1 {
    font-family: var(--heading1-font);
    color: white;
    text-align: center;
    /* text-wrap: balance; */
    font-size: 1.5rem;
}

h2, h3, h4, h5, h6 {
    color:var(--royal);
    font-family: var(--heading-font);
    /* text-wrap: balance; */
}

.banner {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;     
    justify-content: space-between;
    background-color: var(--yellow);
    width: auto;
}

.banner > * {
    display: flex;
}

.banner .btn {
    padding: .9rem;
    margin: .9rem; 
    background-color: white;   
    color: black;
}

.btn {
    background-color: var(--robin2);
    font-family: var(--heading-font);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-radius: 1rem;
}

.social {
    display: flex;    
    gap: 5px;  
    margin-inline-end: 3rem;  
}
.social img {
    /* if I make size relative, it doesn't look right */
    width: 30px;
    height: 30px;
    margin-inline: 10px;    
}

/* .social img:nth-child(3) {
    margin-right: 4rem;
} */

.heading {
    background-color: var(--green);
    display: flex;
    flex-wrap: wrap;

}

.heading img {
    width: 4rem;
    height: 4.1rem;
    /* max-width: 2rem; */
    /* height: auto; */
    border-radius: 50%;
    border-color: #000;
}

.navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;    
}

.navigation ul li {
    flex: 1 1 100%;
}

.navigation a {
    display: none;
    padding: .5rem;    
    text-decoration: none;
    color: white;
}

.navigation a:hover {
	background-color: var(--yellow);
	color: white;
	font-weight: 700;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color:#000;
 	position: fixed;
	top: 0.5rem;
	right: 0;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖";
}


/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active {
    /* background-color:var(--yellow); */
    border: 2px solid black;
    /* outline: rgb(224, 100, 100) solid 10px; */
    /* Can't use text-decoration unless I change specificity */
    /* text-decoration-line: underline;
    text-decoration-color: whitesmoke; */
    padding: 10px
  }

  /* main section */
main {
    display: grid;
    grid-template-columns: 1fr;
}

.hero {    
    position: relative; 
}

/* without this code, the hero image doesn't display correctly.
with this code, the article image inherit's this size, unless I add .hero to that code*/
.hero img {          
    /* display: block; */
    /* width: 80%; */
    height: auto;
    /* margin: 0 auto; */
    width: 100%;
    
}

.hero .welcome img {
    display: inline;
    /* height: 6rem; */
    height: auto;
    width: 25%;
    max-width: 100px;
    
}

.hero h2 {
    position: absolute; 
    width: 100%;
    display: block;
    text-align: center;
    top: 20px;
 }

/* .hero .welcome {
    margin: 0 auto;
}

.hero article {
    background: rgba(200, 218, 247, 0.8);     
} */


p {
    padding: 25px;
}

/* .hero article img {
    width: 25%;
    height: 15%;    
    position: absolute;    -> this moves the img to the left, why?
    float: right;   
    margin: 10 1 1rem 1rem;  -> causes an error
    border: 1px solid #49475B;   
    box-shadow: 0 0 30px #695658;
} */

/* info section */

.info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    /* align-items: center; */
    /* justify-items: center; */
    /* margin: 0.8rem;     */
}

.card {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 10px #333;
    align-items: center;
    justify-items: center;
}

.card2 {
    display: flex;
    flex-direction: column;    
    padding: 1rem;    
    align-items: center;
    justify-items: center;
}

.info img {
    /* height: 100px; */
    /* width: 100px; */
    width: 40%;
    height: auto;
    margin: 0 auto;
    /* justify-self: center; This doesn't work DevTools says it's parent is block????*/
}

.pair {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    /* margin: 1.2rem; */
}

.text-right h3 {
    text-align: center;
    width: 100%;
    grid-column: span 1;
}

.text-right img {
    /* height: 300px; */
    /* width: auto; */
    height: auto;
    width: 100%;
    justify-self: center;
    align-self: center;

}

.weather img {
    width: 100%;
}

footer {
    display: block;
}
