/* @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap') */

* {
    box-sizing: border-box;
}

:root {
    /* colors */    
    --clr-light: #ebf5f5;
    --clr-dark: #000307;  
    --clr-primary: #03256C;
    --clr-paragraph: #434345;
    --clr-accent: #90f6f3;    
    --clr-banner: #edae49;
    
    --clr-header: #34542b;
    --clr-headings: var(--clr-primary);
    --foreground: var(--clr-dark);
    --background: var(--clr-light);
    --clr-anchor:  #0814f9;
    
    /* fonts */
    --heading1-font: 'Lobster', sans-serif;
    --heading2-font: "IM Fell Double Pica SC", serif;
    --heading-font: "IM Fell DW Pica", serif;
    --paragraph-font: 'Poppins', sans-serif;    
}

.dark-mode {
    /* primary and secondary affects h1; p; */
    --clr-headings: var(--clr-light);
    --clr-paragraph: #bac2c2;
    --foreground: var(--clr-light);
    --background: var(--clr-dark);
    --clr-anchor: var(--clr-banner);
}

body {
    font-family: var(--paragraph-font);
    margin: 0 auto;    
    font-size: 0.8rem;
    width: 100%;
    Display: block;
    padding: 0.5rem;    
    background-color: var(--background);
}
h1 {
    font-family: var(--heading1-font);
    color: var(--clr-light);
    text-align: center;
    font-size: 1.5rem;
}

.hero h2 {
    color: var(--clr-primary);
} 

h2 {
    color: var(--clr-headings);
    font-family: var(--heading2-font);
}

h3, h4, h5, h6 {
    color:var(--clr-headings);
    font-family: var(--heading-font);    
}

p {
    color: var(--clr-paragraph);
    padding: .9rem; 
    /* change in large view? */
}

a {
    text-decoration: none;
    color: var(--clr-anchor);
}
.banner {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;     
    justify-content: space-between;
    background-color: var(--clr-banner);
    width: auto;
}

.banner > * {
    display: flex;
}

.banner .btn {
    padding: .9rem;
    margin: .9rem; 
    background-color: var(--clr-primary);       
}

.banner .btn a {
    color: var(--clr-light);
}

.btn {
    background-color: var(--clr-accent);
    font-family: var(--heading-font);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-radius: 1rem;
}

.btn a {
    color: var(--clr-primary);
    font-size: larger;
}


.social {
    display: flex;    
    gap: 5px;  
    margin-inline-end: 3rem;  
}
.social img {
    width: 30px;
    height: 30px;
    margin-inline: 10px;    
}

.heading {
    background-color: var(--clr-header);
    display: flex;
    align-items: center;
}

.heading img {
    width: 4.8rem;
    height: 3.2rem;
    border-radius: 50%;
    border-color: #000;
}

.heading .title {
    display: flex;
}

.navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;    
}

.navigation ul li {
    flex: 1 1 100%;
}

.navigation a {
    display: none;
    padding: .5rem;    
    text-decoration: none;
    color: var(--clr-light);
}

.navigation a:hover {
	background-color: var(--clr-accent);
    color: var(--clr-dark);
	font-weight: 700;
}

#dark-toggle::before {
	content: "🌘";    
}

#dark-toggle.dark-mode::before {
	content: "🌞";
}

.social button {
    background-color: var(--clr-banner);    
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: var(--background);
	color: var(--foreground);
 	position: absolute;
	top: 0.5rem;
	right: 0;
    z-index: 1;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖";
}


/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active {    
    border: 2px solid black;
    padding: 10px;
  }

  /* main section */
main,
.info,
.pair,
.discover-main-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.directory-main-container {
    gap: 0;
}

.hero {    
    position: relative; 
    height: 605px;    
    width: 100%;
    overflow: hidden;
}

.hero img {         
    /* width: auto; */
    width: 100%;
    height: 100%;    
    object-fit: cover; 
    max-width: 100%;   
}

.hero .welcome img {
    display: inline;
    height: 25%;
    max-width: 100px;
    
}

.hero h2 {
    position: absolute; 
    width: 100%;
    display: block;
    text-align: center;
    top: 20px;
 }

.hero .welcome {
    margin: 0 auto;
}

.hero article {
    position: absolute;  
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    top: 100px;
}

.welcome h3 {
    background-color: rgba(255, 235, 205, 0.852);
    color: var(--clr-primary); 
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome p {    
    background-color: rgba(255, 235, 205, 0.852);
    color: var(--clr-dark); 
    width: 90%;
    margin: 0 auto;
}

/* info section */

.card {
    /* display: flex; */
    /* flex-direction: column; */
    border: solid black 1px;
    border-radius: 5px;
    /* padding: 1rem; */
    box-shadow: 0 0 10px #333;
    /* align-items: center; */
    /* justify-items: center; */
    margin-top: 1rem;
}

.card p{
    text-align: center;
    padding: 5px;
}

.card,
.card2 {
    display: flex;
    flex-direction: column;    
    padding: 1rem;    
    align-items: center;
    justify-items: center;
}

.info img {
    width: 40%;
    max-width: 100px;
    height: auto;
    margin: 0 auto;  
}

.spotlight {
    width: 100%;
    height: auto;
    margin: 0 auto;    
}

.spotlight h3 {
    font-size: xx-large;
}

.spot-image {    
    float: left;
    width: 85%;
    min-width: 300px;
    margin: 2rem;
    margin-top: 2rem;
}

.spotlight .logo{
    padding-left: 3rem;
    max-width: 55%;
}

/* only used currently if json file information doesn't work */
.spotlight h3 {    
    text-align: center;
    margin-top: 4rem;
}
.spotlight p {
    padding-left: 3rem;
    padding-right: 3rem;
    line-height: 1.5rem;
}

.featured {
    text-align: center;
}


/* I was trying to contain the buttom like the others */
.external-btn {
    display: flex;    
    align-items: center;
    justify-content: center;

}

.text-right h3 {
    text-align: center;
    width: 100%;
    grid-column: span 1;
}

.text-right img {
    height: auto;
    width: 100%;
    justify-self: center;
    align-self: center;
}

.weather h4,
.weather h3 {
    text-align: center;    
}

.weather img {
    float: left;
    width: 100px;
    height: auto;
}

.weather p {
    padding: 0;
    margin: 0;
    text-align: center; 
}

#weather-date {
    padding: .5rem;
    font-weight: 600;
}

.images {
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
}

.flex {    
    display: flex;
    flex-direction: row;   
    gap: .5rem;
    flex-wrap: wrap;     
    align-items: center;
    background-color: var(--clr-banner);
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
}


.flex div {    
    flex: 1;
    padding: .7rem;
}

#temp {
    font-size: larger;
    font-weight: 600;
}
.flex p {
    color: var(--clr-headings);
}

#forecast {
    display: inline-grid;
}

#forecast img {
    
    max-width: 3rem;
}

/* -------------Discovery page---------------- */
.spotlight h3,
.attraction h2 { 
    text-shadow: 2px 2px 4px #000000;
    border-bottom: double;
}
.discover-main-container {    
    align-items: start;
}

#message {    
    font-family: var(--heading-font);
    color: var(--clr-paragraph);
    font-weight: 400;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    /* color: var(--clr-headings); */
}
.community-images-container {
    /* border: 5px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.community-images-container figure {
    background-color: rgba(230, 230, 233, 0.701);
    /* border: 5px dotted black;     */
    max-width: 650px;
    max-height: 430px;    
}

.community-images-container img {
    width: 100%;    
    height: 100%;
    object-fit: contain;   
    transition: transform .2s;
    justify-content: center;
}

.community-images-container img:hover {
    -ms-transform: scale(1.125); /* IE 9 */
    -webkit-transform: scale(1.125); /* Safari 3-8 */
    transform: scale(1.125); 
}
.community-images-container figcaption {
    padding: 0;
    font-family: var(--heading-font);
    font-size: 1.25rem;
}

/* ------------------Join Page------------------- */
.highlight {
    font-size:larger;
    font-weight: 700;
}

.join-welcome {    
    padding: 0;
    margin: 0 auto;
}

.join-welcome p {
    padding: 0;
    margin: 0 ;
}


.join-container {
    display:grid;
    grid-template-columns: 1fr;    
}

.required {
    text-align: right;
    font-size: .7rem;    
}

.form-join legend {
    padding: 0 .5rem;
    color: var(--clr-paragraph);
}

.form-join fieldset {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--clr-paragraph);
}

.form-join label {  
    display: block;
    padding-top: 1.2rem;
    font-size: .8rem;    
}

.top input, textarea {
    display: block;
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    border: solid 1px #999;
    border-radius: 5px;
    color: #1e1d1d;
}

input:invalid {
    background-color: rgb(250, 236, 249);
    color: rgb(132, 0, 255);
}

.form-join .btn {
    box-shadow: 0 0 5px #333;
    width: 100%;
}

.side input {
    margin-right: 4px;    
}

.benefits {
    font-size:small;
    font-weight: 600;
}

.level h4{   
    padding: 0;
    margin: 0;
    text-align: center;
}

/* ------------------Thanks Page------------------- */
.thanks-container {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    line-height: normal;
}

.thanks-container h2 {
    padding-top: 2rem;
    text-align: center;
}

.thanks-container p {
    text-align: center;
    padding-bottom: 2rem;
}

/* -----------------Directory Page----------------- */
.btn-clear {
    background-color: var(--background);
    color: var(--foreground);
}

.btn-clear span {
    font-size: large;
}

.directory {
    margin: 0 auto;
    padding-bottom: 1rem;
}

.business .logo {
    width: 90%;    
}

.logo {
    padding-bottom: 1rem;    
    height: auto;   
    margin: 0 auto;
}

#ad-btn::before {
	content: "✖";  
    background: none;  
}

#ad p,
.business p {    
    padding: 0;
    margin: 0;    
}

#ad p {
    color: var(--clr-headings)
}
#ad span,
.business-name {
    font-weight: 700;
}

#ad {
    background-color: var(--clr-banner);
    position: fixed;
    top: 250px;
    right: 10px;
    width: 40%;
    height: 50%;    
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

#ad img {
    width: 80%;
    height: auto;
}

#ad-btn {
    position: absolute;
    right: 0;
    top: 5px;
}

.emphasis {
    font-style: italic;
    font-weight: 500;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    /* margin: 0 auto; */
}

/* auto-fit is not working, only creating one column */
.list,
.grid .card {
    display: flex;
    flex-direction: column;
}

.grid .business-name {
    /* visibility: hidden; */
    display: none;
}

.grid a {
    display: grid;
    text-align: center;
}

/* .list {
    display: flex;
    flex-direction: column;
} */

.list section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0.25rem;
}

.list img {
    /* visibility: hidden; This keeps the space for the image on the page, just not visible*/
    display: none;
}

.list section:nth-child(even) {
    background-color:rgba(230, 230, 233, 0.701);
}

.grid hr {
    /* flex-grow: 1; */
    width: 100%;
}

.list hr {
    display: none;
}
/* ------------------footer---------------------- */

footer {
    display: block;
    background-color: var(--clr-header);
    /* width: 100%; */
}

footer p {
    color: var(--clr-light)
}
