* {
    box-sizing: border-box;
}

:root {
    /* colors */    
    /* --royal2: #98E2e2; */
    /* --sky: #bac2c2; */
    /* --robin: #44CFCB; */
    /* --brown: #452103; */

    --clr-light: #ebf5f5;
    --clr-dark: #000307;
    
    --clr-primary: #03256C;
    /* --royal: #03256C;     --*/
    --clr-paragraph: #434345;
    --clr-accent: #90f6f3;
    /* --robin2: #90f6f3; */
    --clr-banner: #edae49;
    /* --yellow: #EDAE49;     */
    --clr-header: #34542b;
    /* --green: #34542b; */
    --clr-headings: var(--clr-primary);
    --foreground: var(--clr-dark);
    --background: var(--clr-light);
    

    /* fonts */
    --heading1-font: 'Lobster', sans-serif;
    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Poppins', sans-serif;
    
}

.dark-mode {
    /* primary and secondary affects h1; p; */
    --clr-headings: var(--clr-light);
    --clr-paragraph: #bac2c2;
    --foreground: var(--clr-light);
    --background: var(--clr-dark);

}

body {
    font-family: var(--paragraph-font);
    margin: 0 auto;    
    font-size: 0.8rem;
    width: 100%;
    Display: block;
    padding: 0.5rem;    
    background-color: var(--background);
}
h1 {
    font-family: var(--heading1-font);
    color: var(--clr-light);
    text-align: center;
    font-size: 1.5rem;
}

h2 {
    color: var(--clr-primary);
} 

h3, h4, h5, h6 {
    color:var(--clr-headings);
    font-family: var(--headings);    
}

p {
    color: var(--clr-paragraph);
    padding: .9rem; 
    /* change in large view? */
}

a {
    text-decoration: none;
}
.banner {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;     
    justify-content: space-between;
    background-color: var(--clr-banner);
    width: auto;
}

.banner > * {
    display: flex;
}

.banner .btn {
    padding: .9rem;
    margin: .9rem; 
    background-color: var(--clr-primary);   
    color: var(--clr-light);
}

.btn {
    background-color: var(--clr-accent);
    font-family: var(--heading-font);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-radius: 1rem;
}

.social {
    display: flex;    
    gap: 5px;  
    margin-inline-end: 3rem;  
}
.social img {
    /* if I make size relative, it doesn't look right */
    width: 30px;
    height: 30px;
    margin-inline: 10px;    
}

.heading {
    background-color: var(--clr-header);
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.heading img {
    width: 4.8rem;
    height: 3.2rem;
    /* max-width: 2rem; */
    /* height: auto; */
    border-radius: 50%;
    border-color: #000;
}

.heading .title {
    display: flex;
}

.navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;    
}

.navigation ul li {
    flex: 1 1 100%;
}

.navigation a {
    display: none;
    padding: .5rem;    
    text-decoration: none;
    color: var(--clr-light);
}

.navigation a:hover {
	background-color: var(--clr-accent);
	color: var(--background);
	font-weight: 700;
}

#dark-toggle::before {
	content: "🌘";
    
}

#dark-toggle.dark-mode::before {
	content: "🌞";
}

.social button {
    background-color: var(--clr-banner);
    /* border: none; */
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: var(--background);
	color: var(--foreground);
 	position: fixed;
	top: 0.5rem;
	right: 0;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖";
}


/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active {
    /* background-color:var(--yellow); */
    border: 2px solid black;
    /* outline: rgb(224, 100, 100) solid 10px; */
    /* Can't use text-decoration unless I change specificity */
    /* text-decoration-line: underline;
    text-decoration-color: whitesmoke; */
    padding: 10px;
  }

  /* main section */
main {
    display: grid;
    grid-template-columns: 1fr;
}

.heros {    
    position: relative; 
    height: 605px;    
    width: 100%;
}

/* lesson 06 */
.hero {    
    position: relative;        
    width: 100%;
}

.heros img {         
    width: auto;
    height: 100%;    
    object-fit: cover;    
}

/* lesson 06 */
.hero img {          
    width: 100%;        
    height: auto;
    object-fit: cover;
}

.hero .welcome img {
    display: inline;
    height: 25%;
    max-width: 100px;
    
}

.hero h2 {
    position: absolute; 
    width: 100%;
    display: block;
    text-align: center;
    top: 20px;
 }

.hero .welcome {
    margin: 0 auto;
    /* background-color: rgba(113, 110, 154, 0.647) */
}

.hero article {
    /* background: rgba(200, 218, 247, 0.8);      */
    position: absolute;  
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    top: 100px;

}

.welcome h3 {
    background-color: rgba(255, 235, 205, 0.852);
    color: var(--clr-primary); 
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome p {    
    background-color: rgba(255, 235, 205, 0.852);
    color: var(--clr-dark); 
    width: 90%;
    margin: 0 auto;
}

/* info section */

.info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 10px #333;
    align-items: center;
    justify-items: center;
    margin-top: 1rem;
}

.card p{
    text-align: center;
    padding: 5px;
}

.card2 {
    display: flex;
    flex-direction: column;    
    padding: 1rem;    
    align-items: center;
    justify-items: center;
}

.info img {
    /* height: 100px; */
    /* width: 100px; */
    width: 40%;
    max-width: 100px;
    height: auto;
    margin: 0 auto;
    /* justify-self: center; This doesn't work DevTools says it's parent is block????*/
}

.pair {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    /* margin: 1.2rem; */
}

.spotlight {
    width: 100%;
    height: auto;
    margin: 2rem auto;
    /* border: 2px solid #000;     */
}

.spotlight img {
    float: left;
    width: 40%;
    min-width: 300px;
    padding: 3rem;
    margin-top: 2rem;
}

.spotlight h3 {
    /* padding: 3rem; */
    text-align: center;
    margin-top: 4rem;
}
.spotlight p {
    /* padding-top: 3rem; */
    padding-left: 3rem;
    padding-right: 3rem;
    /* margin: 3rem; */
    line-height: 1.5rem;
}

/* I was trying to contain the buttom like the others */
.external-btn {
    display: flex;    
    align-items: center;
    justify-content: center;

}

.text-right h3 {
    text-align: center;
    width: 100%;
    grid-column: span 1;
}

.text-right img {
    /* height: 300px; */
    /* width: auto; */
    height: auto;
    width: 100%;
    justify-self: center;
    align-self: center;
}

.weather img {
    width: 50px;
}

/* discovery page */

.discover-main-container {
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.community-images {
    border: 5px solid black;
    display: flex;
    flex-direction: column;
}

.community-images picture {
    background-color: bisque;
    border: 5px dotted black;
    width: 600px;
    height: 400px;
}
/* footer */

footer {
    display: block;
}
