/* duplicates of medium -change? */
@media screen and (min-width: 900px) {
    
    .heading > * {
        justify-content: space-between;        
        
    }
    .heading {
		justify-content: space-between;
	}
    
    .navigation ul {
        flex-direction: row;
    }

    .navigation ul li {
        display: block;    
    }

    .navigation a {
        display: block;   
    }

    .social img {
        width: 2rem;
        height: 2rem;
    }

    .hero article {
		position: absolute;  
		width: 100%;
        margin: 0 auto;
		display: block;
		text-align: center;
		top: 100px;
	}
	
    .hero h3 {
        width: 50%;
    }

	.hero p  {
        width: 50%;
	}

    .info {       
        grid-template-columns: 1fr 1fr 1fr;     

    }
    .card:nth-child(3) {
		grid-column: span 1;
	} 
    
}