@media screen and (min-width: 650px) {
	h1 {
		font-size: 2.5rem;
		/* margin-left: 0; */
		/* text-align: center; */
	}
	
	h2 {
		font-size: 1.7rem;
		text-align: center;
	}

	/* .banner {
		justify-content: space-between;
	}

	.banner > * {
		justify-content: space-between;
	} */

	/* .banner {
		justify-content: space-between;
	} */

	#menu {
		/* hide hamburger button */
		display: block;
		display: none; 
	}

	.navigation ul {
		flex-direction: row;
	}

	.navigation ul li {
		display: block;
		/* flex: 1 1 100%; -duplicate from small view*/
	}

    .navigation a {
        display: block;
        /* duplicate from small view, even though display:none */
        /* padding: .5rem;        
        text-decoration: none;
        color: white; */
    }

	/* .hero article {
		position: absolute;  
		top: 25%;    
		left: 20%;		
	} */
	
	.info, .pair {
		grid-template-columns: 1fr 1fr;

	}

	.card:nth-child(3) {
		grid-column: span 2;
	}
	
	footer {
		Display:flex;
	}
	
	footer > * {
		flex: 1;
		justify-content: space-between;
	}
}