@media screen and (min-width: 650px) {
	h1 {
		font-size: 2.5rem;
	}
	
	h2 {
		font-size: 1.7rem;
		text-align: center;
		/* color: var(--clr-primary); */
	}

	.heading {
		justify-content: space-around;	
	}

	#menu {
		/* hide hamburger button */
		display: block;
		display: none; 
	}

	.navigation ul {
		flex-direction: row;
	}

	.navigation ul li {
		display: block;		
	}

    .navigation a {
        display: block;
    }

	.info, .pair {
		grid-template-columns: 1fr 1fr;

	}

	.pair {
		margin: 1.2rem;
	}

	.card:nth-child(3) {
		grid-column: span 2;
	}
	
	footer {
		Display:flex;
	}
	
	footer > * {
		flex: 1;
		justify-content: space-between;
	}

	/* Discovery Page */
	.discover-main-container {
		grid-template-columns: 2% 1fr 2fr 2%;		
	}

	.side-bar {
		/* grid-column: 2/3; */
	}

	.community-images {
		/* grid-column: 3/4; */
	}
}