 /*root css, sets everything to zero to start*/
 /* *setting margin to zero messed other things up */
* {
    margin: 0;  
    padding: 0;
    box-sizing:border-box;
}


body {
    /* display: block;    default value */
    /* display: grid; */
    font-family: 'Roboto', Helvetica, sans-serif; /*look for different fonts....*/
    font-size: 16px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */    
    max-width: 800px;  
    margin: 0 auto; /*centers the body to the page*/      
}

header {
    background-color: rgb(5, 5, 252);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

h1 {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

img {
    width: 100px;
    height: auto;
    margin: 10px;
}

nav {
    align-items: center;
    text-align: center;
    /* display: flex; */
    
    background-color: black;
}

ul {
    /* width: 110px; */
    padding: 0px;
    /* flex-direction: column; */
    /* list-style-type: none; */
    
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;    
}

nav ul li {
    flex: 1 1 100%;
}

nav a {
    padding: .5rem;
    display: block;
    text-decoration: none;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: auto;
    grid-template-rows: auto;
    place-items: center; this works */
}

h2 {   
    border-bottom: solid 1px rgba(0, 0, 0, 0.371);
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 1.3rem;
}

.card {
    display: grid;
    grid-template-columns: auto;
    /* outline: 2px;
    width: 97%;        */
    margin: 0.8rem;
    /* padding: 1rem; */
    border: solid black 1px;
    border-radius: 5px;
    
}

/* This gets the first item in each .card */
/* > :nth-child(1) */
/* .card  {

    padding: 10px;
    
} */

.card h3 {
    background-color: black;
    margin: 0;
    padding: 1rem;
    text-align: center;
    color: white;
}

.card ul li {
    list-style-type: none;
}

/* this is for the version where I just used a div
.card div {
    text-align: center;
    padding: 2px;
    line-height: 1.5;
} */

.card p {
    text-align: center;
    padding: 5px;
    margin: 5px;
    line-height: 1.5;
}

/* h3 {
    color:white;
} */

/* h3 ul {
    padding: 5px
} */

footer {
    text-align: center;
    background-color: black;
    /* padding: 5px; */
}

footer p {
    color: white;
    line-height: 1.2;
    /* font-size: 0.875em; 14px/16=0.875em not sure if I need it smaller */
}