 /*root css, sets everything to zero to start*/
 /* *setting margin to zero messed other things up */
 /* base.css for home page/index.html */
* {
    margin: 0;  
    padding: 0;
    box-sizing:border-box;
}
/* .protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  } */

body {  
          
    font-family: 'Roboto', Helvetica, sans-serif;
     /*look for different fonts....*/
    font-size: 16px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */    
    max-width: 800px;  
    margin: 0 auto; /*centers the body to the page*/      
}

header {
    background-color: rgb(5, 5, 252);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

h1 {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

header img {
    width: 100px;
    height: auto;
    margin: 10px;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: fixed;
	top: 0.5rem;
	right: 0;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖";
}

.navigation {
    align-items: center;
    text-align: center;    
    background-color: black;
}

.active {
    background-color: rgb(59, 59, 59);
    /* Can't use text-decoration unless I change specificity */
    /* text-decoration-line: underline;
    text-decoration-color: whitesmoke; */
    padding: 10px
  }
  
ul {    
    padding: 0px;
    line-height: 1.5rem;        
}

.navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;    
}

.navigation ul li {
    flex: 1 1 100%;
}

.navigation a {
    display: none;
    padding: .5rem;    
    text-decoration: none;
    color: white;
}

.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}


main {
    display: grid;
    grid-template-columns: 1fr;
}

.hero {
    position: relative;
    width: 95%;
    height: 350px;
    margin: 0 auto;
    /* width: 1500px; */
    /* height: 750x; */
}

/* defining css with picture doesn't do anything */
.heros picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-label {
    position: absolute;
    top: 2px;
    left: 20px;
    /* background-color: #9f9ddaea; */
    background: radial-gradient(#fff, #d09ddaea);
	border: 1px solid rgba(0,0,0,.75);
    padding: 1rem;

}

.hero-label p {
    text-align: center;   
    font-family: 'Protest Riot', sans-serif; 
}



h2 {   
    border-bottom: solid 1px rgba(0, 0, 0, 0.371);
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 1.3rem;
}

.card {
    display: grid;
    grid-template-columns: auto;  
    margin: 0.8rem;   
    border: solid black 1px;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 10px #333;
}

.card h3 {
    background-color: black;
    margin: 0;
    padding: 1rem;
    text-align: center;
    color: white;
    height: 60px;
}

.card ul li {
    list-style-type: none;
    padding: .8rem;
}

.card p {
    text-align: center;
    padding: 5px;
    margin: 5px;
    line-height: 1.5;
}

.map {    
    width: auto;
    
    padding: 0;
}
.map iframe {
    border-radius: 5px;
    width: 100%;
    height: 300px;
}

footer {
    text-align: center;
    background-color: black;
    padding: 7px;
}

footer p {
    color: white;
    line-height: 1.2;
    /* font-size: 0.875em; 14px/16=0.875em not sure if I need it smaller */
}

