* {  /*root css, sets everything to zero to start*/
    /* margin: 0;
    padding: 0;
    box-sizing:border-box; */
    
}

body {
    /* display: block;    default value */
    display: grid;
    font-family: 'Roboto', Helvetica, sans-serif;
    max-width: 50%;  
    margin: auto; /*centers the body to the page*/      
}

header {
    background-color: rgb(113, 113, 220);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

h1 {
    color: white;
}

img {
    width: 100px;
    height: auto;
    margin: 10px;
}

nav {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: black;
}

ul {
    width: 110px;
    padding: 0px;
    
}

a {
    padding: 5px;
    display: block;
    text-decoration: none;
    color: white;
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /* margin: auto; */
    place-items: center; /*this works*/
}

/* main > :nth-child(1) {   
    border-bottom: solid 1px rgba(0, 0, 0, 0.371);
    padding: 5px;
    margin: 5px;
} same as h2 */

h2 {   
    /* padding-bottom: 5px; */
    border-bottom: solid 1px rgba(0, 0, 0, 0.371);
    padding: 5px;
    margin: 5px;
}

.card {
    display: grid;
    grid-template-columns: auto;
    outline: 2px;
    width: 97%;    
    /* place-items: center; */
    /* margin: 0p ; */
    
}

.card > :nth-child(1) {
    background-color: black;
    padding: 10px;
    text-align: center;
}

li {
    list-style-type: none;
}

/* div #location#weather#numberVisits {
    color: aquamarine;
    text-align: center;
} */

/* div .card #location {
    background-color: aquamarine;
    color: aquamarine;
    text-align: center;
} */

.card div {
    text-align: center;
}
h3 {
    /* background: #4834d4; */
    color:white;
}

h3 ul {
    background:rgb(254, 234, 209)
}

footer {
    text-align: center;
    background-color: black;
}

footer p {
    color: white;
}