:root {
    --font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-color: rgb(2, 2, 74); 
    --font-size: 1.2rem;
    --color-light: #e9f3f197;
    --color-dark: #333;
    --margin: 1.2rem;
}

main {
	margin: 20px auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: var(--color-light);
	max-width: 500px;
}

form {
    font-family: var(--font);
    margin: var(--margin);    
}

#formTitle {
    background-color: var(--color-dark);
    color: white;
}

#inputs {
    display: flex;
	flex-direction: column;
	position: relative;
}

#dataRange {
    display: block;
    margin: 1rem auto;
    text-align: center;
}
#rangeDiv {
    color: var(--font-color);
    font-size: 1.5rem;
    font-weight: 700;
}

label {
    /* display: block; */
    font-weight: 700;
    color: var(--font-color);
    font-size: var(--font-size);
}

input {
    margin-bottom: var(--margin);
    padding: 1rem;
    border: 0;
	border-bottom: 1px solid navy;	
}

input:invalid {
    background-color: rgb(250, 236, 249);
    color: red;
}
  
input::placeholder {
    font-size: .9rem;
    font-style: italic;
    color: black;
}

#submitBtn {
    display: block;
    font-size: larger;
    padding: .8rem 2.3rem;
    margin: 1.1rem auto;
}

#thanks {
    padding: 2.5rem;
    margin: 5rem;
}